[submodule "third-party/docker-zsh-completion"]
	path = third-party/docker-zsh-completion
	url = git@github.com:felixr/docker-zsh-completion.git
[submodule "third-party/zsh-syntax-highlighting"]
	path = third-party/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "third-party/zsh-completions"]
	path = third-party/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
